# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for data science.
- Explore commonly used data science librraries.
- Create a table of data science tools.
- Convert minutes to hours in a code cell.

Some of the popular languages that data scientists use are:
    
    1. Python
    2. R
    3. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. NumPy
    2. Pandas
    3. Matplotlib
    4. Seaborn

| Data Science Tools |
|--------------------|
|Jupyter Notebooks|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Sudheer Kumar Tentu